html,
body {
    font-family: sans-serif;
    background: linear-gradient(to bottom right, rgb(240, 255, 246), #e9e9e9);
    margin: 0;
    /* min-height: 100%;
    min-width: 100%; */
}

.title {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    background: -webkit-linear-gradient(rgb(123, 228, 165), rgb(120, 206, 193));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.tools-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid grey;
    margin: 1rem 5rem;
    width: 1300px;
}

.tool > a {
    font-size: x-large;
    text-decoration: none;
    color: rgb(102, 218, 200);
}

.tool > a:hover {
    text-shadow: 2px 2px 2px #b8b6b6;
    font-size: xx-large;
}

a.selected {
    color: rgb(64, 134, 124);
    font-size: xx-large;
}

#whiteboard {
    display: flex;
    flex-direction: column;
    margin: 1rem 5rem;
    height: 510px;
    width: 1302px;
}

#whiteboard > canvas {
    position: absolute;
    border: 2px solid grey;
}

#background-canvas {
    background-color: white;
}

#canvas {
    background: transparent;
    cursor: url("images/cursor-brush.cur"), auto;
}

#upload-image-position-selector {
    position: absolute;
    border: 2px solid grey;
    width: 1000px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 50px;
}

#initial-state,
#loading-state {
    display: flex;
    justify-content: center;
}

button {
    border-radius: 20px;
    border: 2px solid grey;
    margin: 2rem;
    padding: 1.5rem;
    text-transform: uppercase;
    color: rgb(27, 106, 109);
    font-weight: 600;
    background: linear-gradient(to right, rgba(171, 255, 205, 1), rgba(171, 255, 242, 1));
    cursor: pointer;
}

button:hover {
    background: linear-gradient(to right, rgba(171, 255, 205, 0.5), rgba(171, 255, 242, 0.5));
}

.confirm-dialog {
    display: block;
    z-index: 9999;
    background: linear-gradient(to right, rgba(171, 255, 205, 1), rgba(171, 255, 242, 1));
    border: 1px solid #aaa;
    position: fixed;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    top: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.confirm-dialog button {
    background-color: #48e5da;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 5px;
    text-align: center;
    width: 80px;
    cursor: pointer;
}
.confirm-dialog .message {
    text-align: center;
}
#whiteboard > button:hover {
    background: linear-gradient(to right, rgba(171, 255, 205, 0.5), rgba(171, 255, 242, 0.5));
}

#imageLoader {
    display: none;
}

.sticky-note {
    position: absolute;
    background: #ffc;
    font-size: 10px;
    width: 150px;
    padding: 10px;
    font-size: 1rem;
    box-shadow: 3px 3px 5px rgba(88,88,88,.2);
    font-family: "Reenie Beanie";
    cursor: move;
    /* backface-visibility: hidden; */
}

.textarea {
    background: #ffc;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    font-size: 1.3rem;
    /* border: 1px solid gray; */
    /* font: medium -moz-fixed;
    font: -webkit-small-control; */
    overflow: auto;
    width: 150px;
    height: 90px;
    border-top: 0.5px solid rgba(87, 87, 87, 0.1);
    margin-top: 5px;
    padding-top: 2px;
    cursor: text;
}

#image-comments-pannel {
    height: 500px;
    width: 280px;
    margin-left: auto;
    order: 2;
}

#image-comments-pannel > .comments-outer-container {
   position: absolute;
   border: 2px solid grey;
   height: 500px;
   width: 280px;
   overflow: scroll;
   display: none;
}

.show-comments-button {
    position: absolute;
    border-radius: 20px;
    border: 2px solid grey;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: rgb(27, 106, 109);
    font-weight: 600;
    font-size: 10px;
    background: linear-gradient(to right, rgba(171, 255, 205, 0.5), rgba(171, 255, 242, 0.5));
    cursor: pointer;
}

.comment-button {
    border-radius: 20px;
    border: 2px solid grey;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: rgb(27, 106, 109);
    font-weight: 600;
    font-size: 10px;
    background: linear-gradient(to right, rgba(171, 255, 205, 0.5), rgba(171, 255, 242, 0.5));
    cursor: pointer;
    height: 20px;
    width: 50%;
}

.image-comment {
    background-color: #6495ED;
    font-size: 10px;
    width: 150px;
    padding: 10px;
    font-size: 1rem;
    box-shadow: 3px 3px 5px rgba(88,88,88,.2);
    font-family: "Reenie Beanie";
    /* backface-visibility: hidden; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}

.image-comment > .textarea {
     background-color: #6495ED;
     -moz-appearance: textfield-multiline;
     -webkit-appearance: textarea;
     font-size: 1.3rem;
     /* border: 1px solid gray; */
     /* font: medium -moz-fixed;
     font: -webkit-small-control; */
     overflow: auto;
     width: 150px;
     height: 90px;
     border-top: 0.5px solid rgba(87, 87, 87, 0.1);
     margin-top: 5px;
     padding-top: 2px;
     cursor: text;
 }

.sticky-note-header {
   display: flex;
   width: 150px;
}

.created-by-header {
    width: 125px;
}

.sticky-note-delete-icon {
    margin-left: auto;
    cursor: pointer;
    display: flex
}

.sticky-note-delete-icon > a{
    font-size: x-large;
    text-decoration: none;
    display: flex;
    width: 25px;
}

.sticky-note-delete-icon > a > i {
    margin: auto;
}