body {
    font-family: sans-serif;
    background: linear-gradient(to bottom right, rgb(240, 255, 246), #e9e9e9);
}

.title {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    background: -webkit-linear-gradient(rgb(123, 228, 165), rgb(120, 206, 193));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tools-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid grey;
    margin: 1rem 5rem;
}

.tool > a {
    font-size: x-large;
    text-decoration: none;
    color: rgb(102, 218, 200);
}

.tool > a:hover {
    text-shadow: 2px 2px 2px #b8b6b6;
    font-size: xx-large;
}

a.selected {
    color: rgb(64, 134, 124);
    font-size: xx-large;
}

#whiteboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 5rem;
    height: 80vh;
}

#whiteboard > canvas  {
    position: absolute;
    border: 2px solid grey;
}

#background-canvas {
    background-color: white;
}


#canvas {
    background: transparent;
    cursor: url('images/cursor-brush.cur'), auto;
}

#upload-image-position-selector {
    position: absolute;
    border: 2px solid grey;
    width: 1000px;
    height: 500px;
    background-color: rgba(0,0,0,0.3);
}

#initial-state, #loading-state {
    display: flex;
    justify-content: center;
}

button {
    border-radius: 20px;
    border: 2px solid grey;
    margin: 2rem;
    padding: 1.5rem;
    text-transform: uppercase;
    color: rgb(27, 106, 109);
    font-weight: 600;
    background: linear-gradient(to right, rgba(171, 255, 205, 1), rgba(171, 255, 242, 1));
    cursor: pointer;
}

button:hover {
    background: linear-gradient(to right, rgba(171, 255, 205, 0.5), rgba(171, 255, 242, 0.5));
}

#confirm-dialog {
    display: none;
    background: linear-gradient(to right, rgba(171, 255, 205, 1), rgba(171, 255, 242, 1));
    border: 1px solid #aaa;
    position: fixed;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
 }
 #confirm-dialog button {
    background-color: #48E5DA;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 5px;
    text-align: center;
    width: 80px;
    cursor: pointer;
 }
 #confirm-dialog .message {
    text-align: center;
 }
#whiteboard > button:hover {
    background: linear-gradient(to right, rgba(171, 255, 205, 0.5), rgba(171, 255, 242, 0.5));
}

#imageLoader {
    display: none
}
